* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  /* font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; */
  font-family: euclidCircularB,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

li {
  font-size: 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 80%;
  max-width: 100%;
  margin: auto;
  padding: 0px 20px;
} 

